In [13]:

import pandas as pd
from source.data import Database, DatabaseService

db = Database('VirtualServer', 'AdventureWorks2022')
db_service = DatabaseService()
db_service.databases['AdventureWorks2022'] = db
db_service.databases['AdventureWorks2022'].import_tables_from_csv_files()

order_volume_table = db_service.databases['AdventureWorks2022'].tables['Sales.SalesOrderHeader']
order_volume_table_subset = order_volume_table[
    [
        'OrderDateCalenderWeek',
        'OrderDateMonth',
        'OrderDateQuarter',
        'OrderDateYear',
        'TimeUnitCalenderWeek',
        'TimeUnitMonth',
        'TimeUnitQuarter',
        'TotalDue'     
    ]
]

order_volume_table_subset.loc[:, 'TotalDue'] = order_volume_table_subset['TotalDue'].str.replace(',', '.')
order_volume_table_subset.loc[:, 'TotalDue'] = pd.to_numeric(order_volume_table_subset['TotalDue'], errors='coerce')

print(order_volume_table_subset.head())

   OrderDateCalenderWeek  OrderDateMonth  OrderDateQuarter  OrderDateYear  \
0                     22               5                 2           2011
1                     22               5                 2           2011
2                     22               5                 2           2011
3                     22               5                 2           2011
4                     22               5                 2           2011

  TimeUnitCalenderWeek TimeUnitMonth TimeUnitQuarter    TotalDue
0              22/2011      May/2011          2/2011  23153.2339
1              22/2011      May/2011          2/2011   1457.3288
2              22/2011      May/2011          2/2011  36865.8012
3              22/2011      May/2011          2/2011  32474.9324
4              22/2011      May/2011          2/2011    472.3108

In [14]:
# Importiere pandas, falls noch nicht geschehen
import pandas as pd

# DataFrame nach 'OrderDateMonth' und 'TimeUnitMonth' gruppieren und 'TotalDue' summieren
grouped_df = order_volume_table_subset.groupby(['OrderDateYear','OrderDateMonth', 'TimeUnitMonth'])['TotalDue'].sum().reset_index()

# Ergebnis anzeigen
print(grouped_df.head())

print(grouped_df)
# DataFrame in eine CSV-Datei schreiben
grouped_df.to_csv('order_volume_summary.csv')

   OrderDateYear  OrderDateMonth   TimeUnitMonth      TotalDue
0           2011               5        May/2011   567020.9498
1           2011               6       June/2011    507096.469
2           2011               7       July/2011  2292182.8828
3           2011               8     August/2011  2800576.1723
4           2011               9  September/2011   554791.6082
    OrderDateYear  OrderDateMonth   TimeUnitMonth      TotalDue
0            2011               5        May/2011   567020.9498
1            2011               6       June/2011    507096.469
2            2011               7       July/2011  2292182.8828
3            2011               8     August/2011  2800576.1723
4            2011               9  September/2011   554791.6082
5            2011              10    October/2011  5156269.5291
6            2011              11   November/2011   815313.0152
7            2011              12   December/2011  1462448.8986
8            2012               1    January/2012  4458337.4444
9            2012               2   February/2012  1649051.9001
10           2012               3      March/2012  3336347.4716
11           2012               4      April/2012  1871923.5039
12           2012               5        May/2012  3452924.4537
13           2012               6       June/2012  4610647.2153
14           2012               7       July/2012   3840231.459
15           2012               8     August/2012  2442451.1831
16           2012               9  September/2012   3881724.186
17           2012              10    October/2012   2858060.197
18           2012              11   November/2012  2097153.1292
19           2012              12   December/2012  3176848.1687
20           2013               1    January/2013  2340061.5521
21           2013               2   February/2013  2600218.8667
22           2013               3      March/2013  3831605.9389
23           2013               4      April/2013  2840711.1734
24           2013               5        May/2013  3658084.9461
25           2013               6       June/2013  5726265.2635
26           2013               7       July/2013  5521840.8445
27           2013               8     August/2013  3733973.0032
28           2013               9  September/2013  5083505.3374
29           2013              10    October/2013  5374375.9418
30           2013              11   November/2013  3694667.9998
31           2013              12   December/2013  4560577.0958
32           2014               1    January/2014  4798027.8709
33           2014               2   February/2014   1478213.292
34           2014               3      March/2014  8097036.3137
35           2014               4      April/2014  1985886.1496
36           2014               5        May/2014   6006183.211
37           2014               6       June/2014    54151.4785